<div id="protected-session-password-dialog" class="modal mx-auto" data-backdrop="false" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mr-auto">私密笔记</h5>

                <button class="help-button" type="button" data-help-page="Protected-notes" title="有关受保护笔记的帮助">?</button>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 0;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="protected-session-password-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="protected-session-password-in-modal">哦，输入您的登录密码来，私密（公开）笔记：</label>
                        <input id="protected-session-password-in-modal" class="form-control protected-session-password" type="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">查看私密笔记 <kbd>enter</kbd></button>
                </div>
            </form>
        </div>
    </div>
</div>
